<div class="mx-0 p-10 flex justify-center">
  <form #form="ngForm" (submit)="loginUser(form)" [formGroup]="formData" class="w-full max-w-lg" method="post">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
          Email
        </label>
        <input
          [ngClass]="{'border-red-500': form.control.controls['email'].invalid && (form.control.controls['email'].dirty || form.control.controls['email'].touched)}"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-email" type="email" placeholder="example@example.com" formControlName="email" name="email" required>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Hasło
        </label>
        <input
          [ngClass]="{'border-red-500': form.control.controls['password'].invalid && (form.control.controls['password'].dirty || form.control.controls['password'].touched)}"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-password" type="password" placeholder="*****************" formControlName="password" name="password" required>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <button [disabled]="form.invalid && (form.dirty || form.touched)" [ngClass]="form.invalid? 'bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700' : 'bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700'"
                class="flex-shrink-0  text-sm border-4 text-white py-1 px-2 rounded"
                type="submit">
          Zaloguj się
        </button>
      </div>
    </div>
  </form>
</div>
