<div class="mx-0 p-10 flex justify-center">
  <ngx-datatable class="bootstrap table table-striped w-full" [columnMode]="'force'" [rowHeight]="80"
                 [rows]="getAllAccounts">
    <ngx-datatable-column name="Id" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        {{ rowIndex }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Imię">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.name }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nazwisko">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.surname }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.email }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Opis">
      <ng-template ngx-datatable-cell-template let-row="row">
        {{ row.description || 'Nie wpisano nic' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Odpowiedzi">
      <ng-template ngx-datatable-cell-template let-row="row">
        <ng-container *ngFor="let item of row.dataPosition; let i = index">
          <p *ngIf="item.inputType == 'checkbox'">
           {{ row.positions.subPosition[i].name }}: {{ item.name === true ? 'Potwierdzam' : 'Nie potwierdzam' }}
          </p>
          <p *ngIf="item.inputType == 'text'">
            {{ row.positions.subPosition[i].name }}: {{ item.name }}
          </p>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Akcje">
      <ng-template ngx-datatable-cell-template let-row="row">
        <a
          class="flex-shrink-0  text-sm border-4 text-white  px-2 rounded bg-green-500 hover:bg-green-700 border-green-500 hover:border-green-700"
          [routerLink]="[row.id]">
          Edytuj
        </a>
        &nbsp;
        <button
          class="flex-shrink-0  text-sm border-4 text-white  px-2 rounded bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700"
          type="button" (click)="removeAccount(row)">
          Usuń
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
