<div class="mx-0 p-10 flex justify-center">
  <form #form="ngForm" (submit)="createUser(form)" [formGroup]="formData" class="w-full max-w-lg" method="post">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Imię
        </label>
        <input
          [ngClass]="{'border-red-500': form.control.controls['name'].invalid && (form.control.controls['name'].dirty || form.control.controls['name'].touched)}"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name" type="text" placeholder="Jane" formControlName="name" name="name" required>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Nazwisko
        </label>
        <input
          [ngClass]="{'border-red-500': form.control.controls['surname'].invalid && (form.control.controls['surname'].dirty || form.control.controls['surname'].touched)}"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-last-name" type="text" placeholder="Doe" formControlName="surname" name="surname" required>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
          Email
        </label>
        <input
          [ngClass]="{'border-red-500': form.control.controls['email'].invalid && (form.control.controls['email'].dirty || form.control.controls['email'].touched)}"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-email" type="email" placeholder="example@example.com" formControlName="email" name="email" required>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-description">
          Opis
        </label>
        <textarea
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-description" cols="30" rows="10" formControlName="description" name="description"></textarea>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-positionName">
          Stanowisko
        </label>
        <div class="relative">
          <select
            [ngClass]="{'border-red-500': form.control.controls['positionName'].invalid && (form.control.controls['positionName'].dirty || form.control.controls['positionName'].touched)}"
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-positionName" formControlName="positionName" name="positionName" required>
            <option *ngFor="let item of getAllPositions" [value]="item.name" (click)="getPosition(item)">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2" formArrayName="answers">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0" *ngFor="let item of getSubPositions; let i = index"
           [formGroupName]="i">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-{{i}}">
          {{ item.name }}
        </label>
        <ng-container *ngIf="item.inputType == 'text'; else checkboxInput">
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-{{i}}" type="text" [formControlName]="'name'" required>
        </ng-container>
        <ng-template #checkboxInput>
          <input type="checkbox" class="mr-2 leading-tight" [formControlName]="'name'">
        </ng-template>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <button [disabled]="form.invalid && (form.dirty || form.touched)"
                [ngClass]="form.invalid? 'bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700' : 'bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700'"
                class="flex-shrink-0  text-sm border-4 text-white py-1 px-2 rounded"
                type="submit">
          Zarejestruj się
        </button>
      </div>
    </div>
  </form>
</div>
