/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.toast-top-left {
  position: fixed !important;
}

mat-tab-header {
  margin-bottom: 2rem;
}
